---
layout: default
title: Home
---

{% if page.url == "/" %}

<!-- Featured
================================================== -->
<div class="container">
    <section class="featured-posts">
        <div class="section-title">
            <h2><span>{% if site.locale == "zh-cn" %} {{ site.zh-cn_featured }} {% else %} {{ site.en_featured }} {% endif %}</span></h2>
        </div>
        <div class="row">

        {% for post in site.posts %}

            {% if post.featured == true %}

                {% include featuredbox.html %}

            {% endif %}

        {% endfor %}

        </div>
    </section>

</div>

{% endif %}

<!-- Posts Index
================================================== -->
<div class="container">
    <section class="recent-posts">

        <div class="section-title">

            <h2><span><a href="{{ site.baseurl }}/categories">{% if site.locale == "zh-cn" %} {{ site.zh-cn_all-stories }} {% else %} {{ site.en_all-stories }} {% endif %}</a></span></h2>

        </div>

        <div class="row listrecent">

            {% for post in paginator.posts %}

            {% include postbox.html %}

            {% endfor %}

        </div>

    </section>

    <!-- Pagination
    ================================================== -->
    <div class="bottompagination">
        <div class="pointerup"><i class="fa fa-caret-up"></i></div>
        <span class="navigation" role="navigation">
            {% include pagination.html %}
        </span>
    </div>
</div>
