---
title: "Categories"
layout: default
permalink: "/categories.html"
---

<div class="container">
    <div class="row listrecent">
        <div class="section-header">
            <div class="col-md-12 mt-4">
                {% assign categories_list = site.categories %}
                {% if categories_list.first[0] == null %}
                    {% for category in categories_list %}
                        <a class="cat" href="#{{ category | url_escape | strip | replace: ' ', '-' }}">{{ category | camelcase }} ({{ site.tags[category].size }})</a>
                    {% endfor %}
                {% else %}
                    {% for category in categories_list %}
                        <a class="cat" href="#{{ category[0] | url_escape | strip | replace: ' ', '-' }}">{{ category[0] | camelcase }} ({{ category[1].size }})</a>
                    {% endfor %}
                {% endif %}
                {% assign categories_list = nil %}
            </div>
        </div>

        {% for category in site.categories %}
            <div class="section-title col-md-12 mt-4">
                <h2 id='{{ category[0] | replace: " ","-" }}'>{% if site.locale == "zh-cn" %} {{ site.zh-cn_category }} {% else %} {{ site.en_category }} {% endif %} <span class="text-capitalize">{{ category[0] }}</span></h2>
            </div>
            {% assign pages_list = category[1] %}
            {% for post in pages_list %}
                {% if post.title != null %}
                    {% if group == null or group == post.group %}
                        {% include postbox.html %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% assign pages_list = nil %}
            {% assign group = nil %}
        {% endfor %}
    </div>
</div>
